.case {
  background-color: burlywood;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
}

.result {
  background-color: grey;
  width: 380px;
  font-size: 45px;
  padding-right: 10px;
  border-radius: 10px;
}

.screen {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 10px;
  text-align: end;
}

.operatorButtons {
  width: 40px;
  padding-right: 50px;
}

.operatorButton {
  width: 80px;
  height: 100px;
  background-color: orange;
}

.numberButtons {
  justify-content: center;
  width: 300px;
  padding-right: 0px;
}

.numButton {
  height: 100px;
  width: 80px;
  background-color: grey;
}

.specialCharButton {
  height: 100px;
  width: 80px;
  background-color: lightgray;
}

button {
  margin: 5px;
  border-radius: 20px;
  font-size: larger;
  border: none;
}

#zero {
  width: 174px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
