.case {
  background-color: peachpuff;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
  border: 2px black solid;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px;
}

.result {
  background-color: grey;
  width: 380px;
  font-size: 45px;
  padding-right: 10px;
  border-radius: 10px;
  border: 2px solid black;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}

.screen {
  display: flex;
  justify-content: center;
  height: 50px;
  padding: 10px;
  text-align: end;
}

.operatorButtons {
  width: 40px;
  padding-right: 50px;
}

.operatorButton {
  width: 80px;
  height: 100px;
  background-color: darkcyan;
}

.operatorButton:hover,
:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 139, 139, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 139, 139, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 139, 139, 0);
  }
}

.operatorButton:focus {
  background-color: darkslategray;
}

#equals:focus {
  background-color: aqua;
}

.numberButtons {
  justify-content: center;
  width: 300px;
  padding-right: 0px;
}

.numButton:hover,
.specialCharButton:hover {
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
}

.numButton,
.specialCharButton:focus {
  animation: pulse;
}

.numButton {
  height: 100px;
  width: 80px;
  background-color: gray;
}

.specialCharButton {
  height: 100px;
  width: 80px;
  background-color: lightgray;
}

button {
  margin: 5px;
  border-radius: 20px;
  font-size: 30px;
  border: none;
}

#zero {
  width: 174px;
}

body {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
